﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="a_vw_feedback.aspx.cs" Inherits="a_vw_feedback" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 340px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                <asp:DataGrid ID="DataGrid1" runat="server" AutoGenerateColumns="False" 
                    Height="174px" Width="476px">
                    <Columns>
                        <asp:BoundColumn DataField="fid" HeaderText="SL:NO"></asp:BoundColumn>
                        <asp:BoundColumn DataField="feedback" HeaderText="FEEDBACK"></asp:BoundColumn>
                        <asp:BoundColumn DataField="date" HeaderText="DATE"></asp:BoundColumn>
                        <asp:BoundColumn DataField="name" HeaderText="PATIENT NAME">
                        </asp:BoundColumn>
                    </Columns>
                </asp:DataGrid>
            </td>
        </tr>
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

