﻿<%@ Page Title="" Language="C#" MasterPageFile="~/doctor.master" AutoEventWireup="true" CodeFile="d_vw_notification.aspx.cs" Inherits="d_vw_notification" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 259px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                <asp:DataGrid ID="DataGrid1" runat="server" AutoGenerateColumns="False" 
                    Height="183px" style="margin-left: 0px" Width="343px">
                    <Columns>
                        <asp:BoundColumn DataField="ID" HeaderText="ID"></asp:BoundColumn>
                        <asp:BoundColumn DataField="NOTIFICATION" HeaderText="NOTIFICATION">
                        </asp:BoundColumn>
                        <asp:BoundColumn DataField="DATE" HeaderText="DATE"></asp:BoundColumn>
                    </Columns>
                </asp:DataGrid>
            </td>
        </tr>
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

