﻿<%@ Page Title="" Language="C#" MasterPageFile="~/doctor.master" AutoEventWireup="true" CodeFile="d_vw_img_download.aspx.cs" Inherits="d_vw_img_download" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 254px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                <asp:DataGrid ID="DataGrid1" runat="server" AutoGenerateColumns="False" 
                    Height="172px" Width="488px" onitemcommand="DataGrid1_ItemCommand">
                    <Columns>
                        <asp:BoundColumn DataField="id" HeaderText="ID"></asp:BoundColumn>
                        <asp:BoundColumn DataField="image" HeaderText="IMAGE NAME">
                        </asp:BoundColumn>
                        <asp:ButtonColumn Text="DOWNLOAD"></asp:ButtonColumn>
                    </Columns>
                </asp:DataGrid>
            </td>
        </tr>
        <tr>
            <td class="style2">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

